%section.marketing-site-three-up
  %h2.marketing-site-three-up-headline Efortless time tracking.
  .button-group.text-center
    = link_to "Join", new_user_registration_path, class: "button success"
    = link_to "Login", new_user_session_path, class: "button"
  .row.medium-unstack
    .columns
      %i.fas.fa-tasks.fa-3x
      %h4.marketing-site-three-up-title Track your schedule.
      %p.marketing-site-three-up-desc Use the timer mode for real-time tracking, or enter your tasks manually.
    .columns
      %i.fas.fa-users.fa-3x
      %h4.marketing-site-three-up-title Monitor your team.
      %p.marketing-site-three-up-desc List and filter all entries easily by users, dates and entry types.
    .columns
      %i.fas.fa-file-export.fa-3x
      %h4.marketing-site-three-up-title Generate reports.
      %p.marketing-site-three-up-desc Generate and download reports for multiple users in various formats.

-# %section.marketing-site-three-up
-#     %h1.marketing-site-three-up-headline Efortless time tracking.
-#     .grid-x.grid-margin-x
-#         .small-4.cells
-#             %i.fas.fa-clipboard-list.fa-3x
-#             %h4.marketing-site-three-up-title Track your schedule.
-#             %p.marketing-site-three-up-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.
-#         .small-4.cell
-#             %h4.marketing-site-three-up-title Monitor your team.
-#             %p.marketing-site-three-up-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.
-#         .small-4.cell
-#             %h4.marketing-site-three-up-title Generate reports.
-#             %p.marketing-site-three-up-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.