@import '~foundation-sites/scss/foundation';
@import 'settings';
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-menu;
@include foundation-dropdown;
@include foundation-table;
@include foundation-callout;
@include foundation-button;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-pagination;
@include foundation-visibility-classes;
@include foundation-accordion;
@include foundation-switch;
@import "./home.scss";
@import "./entries.scss";
@import "./dashboard.scss";
@import "./timer.scss";
@import "./reports.scss";



html{
  --primary-background: #2C1338;
  --purple: #E57CD8;
  --pale-purple: #6A5B73;
  --gold: #FFDD91;
  --bs: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}


.callout{
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button{
    border: none;
    border-radius: 5px;
}

h2{
    margin: 10px;
}

table{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input, select {
    &:read-only{
        background: initial;
        cursor: pointer;
    }
}

.flash-wrapper{
    position: fixed;
    top: 10%;
    right: 5%;
    animation:  slideIn 0.4s forwards;
    z-index: 999;
    
    &.exit{
        animation:  slideOut 0.4s forwards;
    }

    .flash.success::before{
        content: '✓';
    }
    .flash.alert::before{
        content: '×';
    }
    
    @keyframes slideIn {
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0%);
        }
    }
    @keyframes slideOut {
        from{
            transform: translateX(0%);
        }
        to{
            transform: translateX(200%);
        }
    }
}

.timer .cell{
    margin: 10px 0;
}

.devise-wrapper{
    max-width: 720px;
    margin: 100px auto 0 auto;
    .errors{
        h2{
            font-size: inherit;
        }
    }
    form{
        padding: 10px;
        .button-group{
            margin: 10px;
            text-align: center;
            a, button{
                margin: 10px;
            }
        }
    }
}


.marketing-site-three-up {
  text-align: center;
  padding: 2rem 0;

  .columns {
    margin-bottom: 1rem;

    @media screen and (min-width: 40em) {
      margin-bottom: 0;
    }
  }
}

$marketing-site-three-up-width: 900px;

.marketing-site-three-up {
  text-align: center;
  padding: 2rem 0;

  .row {
    max-width: $marketing-site-three-up-width;
  }

  .columns {
    margin-bottom: 1rem;

    @media screen and (min-width: 40em) {
      margin-bottom: 0;
    }
  }

  h4{
    font-weight: normal;
  }

  svg {
      margin-bottom: 1rem;
      color: var(--purple);
  }

  .button-group{
      margin: 30px 0 80px 0;
  }
}


.marketing-site-three-up-headline {
  margin-bottom: 3rem;
}
