.entries{
    margin: 5rem auto 0 auto;
    padding: 1rem;
    max-width: 1000px;
    h3{
        margin: 1rem;
    }
    .accordion-title{
        font-size: inherit;
        font-weight: 500;
        color: var(--pale-purple);
        box-shadow: var(--bs);
    }
    .entry{
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        background-color: white;
        box-shadow: var(--bs);
        overflow: visible;
        span{
            margin: 0 1rem;
        }
        .entry-type{
            font-weight: 500;
            color: var(--purple);
        }
        .entry-range{
            font-weight: 500;
            color: var(--pale-purple);
        }
        a{  
            margin-left: 1rem;
            color: lightgrey;
            transition: 0.2s all ease-in-out;
            &:hover{
                color: var(--purple);
            }
        }
    }
}