.calendar-wrapper{data: { controller: "calendar" }}
    #calendar{data: { "calendar-target": "calendar" }}
        #loader{data: { "calendar-target": "loader" }}
            %i.fas.fa-circle-notch.fa-spin.fa-4x